<app-navban></app-navban>

<div class="wrapper">
  <div class="page-header clear-filter" filter-color="orange">
    <div class="page-header-image rellax-header" data-rellax-speed="-7"
      style="background-image: url('assets/img/header.jpg');"></div>



    <div class="container">
      <div class="content-center brand">
        <img class="n-logo" src="assets/img/now-logo.png" alt="">
        <h1>STUDY CLUB</h1>
        <h3>Useful system for courses, competitions, etc.</h3>
      </div>
    </div>

  </div>
</div>